[DEFAULT]
bind_ip = 0.0.0.0
bind_port = 6201
user = swift
swift_dir = /etc/swift
devices = /srv/node
mount_check = true

log_name = swift-container
log_facility = LOG_LOCAL3
log_level = DEBUG
log_headers = false
log_address = /dev/log

[pipeline:main]
pipeline = healthcheck recon container-server

[app:container-server]
use = egg:swift#container
#replication_server = true

[filter:healthcheck]
use = egg:swift#healthcheck

[filter:recon]
use = egg:swift#recon
recon_cache_path = /var/cache/swift

[container-replicator]
#rsync_module = {replication_ip}::container{replication_port}
[container-updater]

[container-auditor]

[container-sync]

[filter:xprofile]
use = egg:swift#xprofile

[container-sharder]
